.contact-us .contact-us-content .btn-2 {
    padding: 20px 60px;
    max-width: 506px;
}

.contact-us .contact-us-content .theme-button {
    display: flex;
    justify-content: start;

}

.contact-us {
    overflow-x: hidden;
}



.contact-us .contact-us-content .text-left-container{
    margin-left: 38px;
    margin-bottom: 176px;
}
.contact-us .contact-us-content p{
    margin-bottom: 100px;
}
.contact-us .text-part {
    padding-left: 150px;
    padding-top: 80px;
}
.text-left-container-mobile{
    display: none;
}


@media screen and (max-width: 1550px) {
    .contact-us .text-part {
        padding-left: 70px;
        padding-top: 80px;
    }
}

@media screen and (max-width: 1400px) {
    .contact-us .contact-us-content .text-left-container{
        margin-left: 30px;
        margin-bottom: 100px;
    }

}

@media screen and (max-width: 1200px) {
    .contact-us .text-part {
        padding-left: 65px;
        padding-top: 50px;
    }
}


@media screen and (max-width: 991px) {
    .contact-us .contact-us-content p {
        margin-bottom: 55px;
    }
    .contact-us .text-part {
        padding-left: 50px;
        padding-top: 50px;
    }
}


@media screen and (max-width: 767px) {
    .contact-us .contact-us-content .text-left-container{
      display: none !important;
    }
    .text-left-container-mobile{
        display: block;
        padding: 40px 30px 120px 36px;
    }
    .contact-us .text-part {
        padding: 30px 0px 30px 20px;
    }
    .contact-us .text-part h2{
       width: 50%;

    }
}

@media screen and (max-width: 520px) {
    .contact-us .text-part {
        padding: 30px 0px 20px 12px;
    }
    .contact-us .text-part h2 {
        width: 60%;
    }
    .contact-us .contact-us-content .btn-2 {
        padding: 12px 60px;
        max-width: 506px;
    }
}

@media screen and (min-width: 1740px){
    .contact-us-content .text-part h2{
        font-size: 80px;
    }
}