:root {
    --orange: #FF7262;
    --white: #FFFFFF;
    --balck: #000000;
    --primary: #666666;
    --footertext: #F5F1EE;
}







/* header section */


.header-section .navbar {
    padding: 34px 0 !important;
}

.header-section .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #333366 !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    font-weight: 700;
}

.header-section .navbar-toggler {
    border: none !important;
    padding: 0;
}

.header-section .navbar-toggler-icon {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    vertical-align: middle;
    background-image: url(../../images/header/x.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.header-section .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url(../../images/header/navbar-btn.svg) !important;
}

.header-section .navbar-toggler:focus {
    box-shadow: none !important;
}

.header-section .navbar ul li a {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 400;
    min-width: 250px;
    text-align: center;
    color: var(--primary);
}

.header-section .navbar ul li a:hover {
    color: #333366 !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    font-weight: 700;
}

.header-section .brand-logo img {
    width: 100%;
}



/* header meadia */

@media screen and (min-width: 1660px) {
    .container {
        max-width: 1620px;
    }

}

@media screen and (max-width: 1550px) {
    .container {
        max-width: 92%;
    }

    .header-section .navbar ul li a {
        min-width: 200px;
    }
}

@media screen and (max-width:1200px) {

    .header-section .navbar ul li a {
        font-size: 20px;
    }

    .header-section .navbar ul li a {
        min-width: 180px;
    }
}


@media screen and (max-width:992px) {
    .header-section {
        position: relative;
    }

    .header-section::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-image: url(../../images/header/logo-line.svg);
        background-repeat: no-repeat;
        top: 126px;
        left: 0;
        background-position: center;
    }

    .header-section .brand-logo {
        margin: auto !important;
        padding-right: 54px;
    }

    .header-section .brand-logo img {
        width: 150px;
        height: 75px;
    }

    .header-section .navbar ul {
        margin-top: 36px;
    }

    .header-section .navbar ul li a {
        text-align: left;
        margin-left: 0px;
        margin-top: 30px;
        padding: 0;
    }

    .header-section .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #333366 !important;
    }
}

@media screen and (max-width: 797px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width:520px) {
    .header-section .brand-logo img {
        width: 80px;
        height: 36px;
    }

    .header-section::before {
        top: 62px;
    }

    .header-section .navbar {
        padding: 14px 0 14px 0 !important;
    }
}






/* footer section */

.footer-section {
    background-color: #3B3131;
    padding: 36px 0 17px 0;
    position: relative;
}

.footer-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../../images/footer/footer-bg-design.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: -25%;
    z-index: 0;

}

.footer-section .footer-content {
    z-index: 2;
    position: relative;

}

.footer-section .footer-text {
    text-align: center;
}

.footer-section .footer-text h3 {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 400;
    color: #E3DEDE;
    margin-bottom: 27px;
}

.footer-section .footer-text p {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 500;
    color: var(--footertext);
    margin-top: 20px;
    margin-bottom: 27px;
}

.footer-section .footer-logo {
    margin: 48px 0;
    display: flex;
    justify-content: center;
}


.footer-section .footer-text h5 {
    font-family: "Satoshi";
    font-size: 20px;
    font-weight: 500;
    color: var(--footertext);
    max-width: 37%;
    width: 100%;
    margin: auto;
    margin-bottom: 46px;
}


.footer-section .footer-text h6 {
    font-family: "Calista";
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    margin: 22px 0 17px 0;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.footer-section .social-icons img {
    margin: 0 10px;
}


/* footer input section */

.footer-section .footer-input-section {
    border: 2px solid #FFFFFF80;
    padding: 17px 20px;
    border-radius: 70px;
    background-color: #68686833;
    margin: auto;
    width: 100%;
    max-width: 1365px;
}
.footer-section .footer-input-section .row {
  margin: 0 !important;
}

.footer-input-section input {
    width: 100%;
    padding: 22px 40px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
    background-color: #68686833;
    color: var(--footertext);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    outline: none;
}

.footer-section ::placeholder {
    color: var(--footertext);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.footer-section .footer-btn {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-section .footer-btn:hover div{

      color:#E2DFE0;
    background:#68686833 ;
}

.footer-section .footer-btn div {
    font-family: "Satoshi";
    font-size: 17.44px;
    font-weight: 500;
    color: #333366;
    background: #E2DFE0;
    padding: 19px 19px;
    width: 100%;
    border-radius: 50px;
    text-align: center;
}


@media screen and (max-width:1100px) {
    .footer-section .footer-btn div {
        font-size: 13px;
    }
}

@media screen and (max-width:992px) {
    .footer-input-section input[type="text"] {
        margin-bottom: 32px;
    }

    .footer-section .footer-text h3 {
        font-size: 35px;
    }

    .footer-section .footer-btn div {
        font-size: 17px;
    }

    .footer-section .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media screen and (max-width:1200px) {
    .footer-section .footer-text h5 {
        max-width: 70%;
    }
}

@media screen and (max-width:520px) {
    .footer-section .footer-text h5 {
        max-width: 85%;
    }
    .footer-section .social-icons {
        margin-bottom: 0px;
    }
    .footer-section {
        padding: 24px 0 10px 0;
    }

    .footer-section .footer-text h3 {
        font-size: 25px;
        margin-bottom: 27px;
    }

    .footer-input-section input {
        font-size: 15px;
        padding: 16px 17px;
    }

    .footer-section ::placeholder {
        font-size: 15px;
    }

    .footer-section .footer-input-section {
        padding: 14px;
        border-radius: 40px;
    }

    .footer-section .footer-text p {
        font-size: 10px;
        width: 70%;
        margin: 23px auto;
    }

    .footer-section .footer-text h5 {
        font-size: 10px;
        margin-bottom: 25px;
    }

    .footer-section .social-icons img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }

    .footer-section .footer-text h6 {
        font-size: 10px;
        margin: 12px 0 0px 0;
    }

    .footer-section .footer-logo img {
        width: 142px;
        height: 62px;
    }

    .footer-section .footer-logo {
        margin: 25px 0;
    }
    .footer-section .footer-btn div {
        padding: 7px 19px;
    }
}