:root {
    --card-text: #666666;
    --white: #FFFFFF;
    --black: #000000;
    --primary: #666666;
    --footertext: #F5F1EE;
}

/* common css  */

.main-heading {
    font-family: Calista;
    font-size: 90px;
    font-weight: 400;
    text-align: left;
    color: var(--primary);
}

.secondary-text {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 400;
    text-align: left;
    color: var(--primary);
}

@media screen and (max-width:1440px){
    .main-heading{
        font-size: 60px;
    }
    .secondary-text{
        font-size: 24px;
    }
}

@media screen and (max-width:992px){
    .main-heading{
        font-size: 44px;
    }
    .secondary-text{
        font-size: 18px;
    }
}

@media screen and (max-width:769px) {
    .main-heading {
        font-size: 22px;
    }
    .secondary-text {
        font-size: 16px;
    }
}



body {
    position: relative;
}


/* fixed btn */

.fixed-btn {
    position: fixed;
    bottom: 48px;
    right: 48px;
    border: 1px solid var(--white);
    border-radius: 200px;
    max-height: 58px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    padding: 40px 14px 40px 14px;
    align-items: center;
    background-color: #F5F1EE;
    z-index: 50;
}

.fixed-btn img {
    width: 25px;
    height: 25px;
}



/* theme button */
.theme-button {
    display: flex;
    justify-content: center;
}

.btn-2 {
    position: relative;
    overflow: hidden;
    border-radius: 200px;
    padding: 20px 60px;
    background-color: #E3DEDE;
    color: #666666;
    border: none;
    cursor: pointer;
    transition: width 0.5s ease-out;
    max-width: 305px;
    width: 100%;
    font-family: "Montserrat";
    font-size: 17px;
    font-weight: 700;

}

.btn-2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #666666;
    transition: width 0.3s ease-out;
    z-index: 0;
}

.btn-2:hover::before {
    width: 100%;
}

.btn-2 span {
    position: relative;
    z-index: 1;
    color: #666666;
    transition: color 0.3s, z-index 0s 0.3s;
}

.btn-2:hover span {
    color: #E3DEDE;
    transition: width 0.3s ease-out;
}

.btn span {
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}



.footer-section .footer-btn {
    width: 100%;
    border-radius: 50px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.footer-section .footer-btn .btn-2 {
    position: relative;
    overflow: hidden;
    border-radius: 200px;
    padding: 15px 20px;
    background-color: #E3DEDE;
    color: #666666;
    border: none;
    cursor: pointer;
    transition: width 0.5s ease-out;
    max-width: 100%;
    text-align: center;
    width: 100%;
    font-family: "Satoshi";
    font-size: 17.44px;
    font-weight: 500;
}




/*  */

/* header section */
.header-section .navbar {
    padding: 34px 0 !important;
}

.header-section .navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #333366 !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    font-weight: 700;
}

.header-section .navbar-toggler {
    border: none !important;
    padding: 0;
}

.header-section .navbar-toggler-icon {
    display: inline-block;
    width: 30px !important;
    height: 30px !important;
    vertical-align: middle;
    background-image: url(../../images/header/x.svg) !important;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.header-section .navbar-toggler.collapsed .navbar-toggler-icon {
    background-image: url(../../images/header/navbar-btn.svg) !important;
}

.header-section .navbar-toggler:focus {
    box-shadow: none !important;
}

.header-section .navbar ul li a {
    font-family: "Montserrat";
    font-size: 25px;
    font-weight: 400;
    min-width: 250px;
    text-align: center;
    color: var(--primary);
    transition: background-color 0.3s ease, transform 0.3s ease, font-weight 0.3s ease;
}

.header-section .navbar ul li a:hover {
    color: #333366 !important;
    text-decoration: underline !important;
    text-underline-offset: 7px;
    font-weight: 700;
}

.header-section .brand-logo img {
    width: 100%;
}



/* header meadia */

@media screen and (min-width: 1660px) {
    .container {
        max-width: 1620px;
    }

}

@media screen and (max-width: 1550px) {
    .container {
        max-width: 92%;
    }

    .header-section .navbar ul li a {
        min-width: 200px;
    }
}

@media screen and (max-width:1200px) {

    .header-section .navbar ul li a {
        font-size: 20px;
    }

    .header-section .navbar ul li a {
        min-width: 180px;
    }
}


@media screen and (max-width:992px) {
    .header-section {
        position: relative;
    }

    .header-section::before {
        position: absolute;
        content: '';
        height: 1px;
        width: 100%;
        background-image: url(../../images/header/logo-line.svg);
        background-repeat: no-repeat;
        top: 126px;
        left: 0;
        background-position: center;
    }

    .header-section .brand-logo {
        margin: auto !important;
        padding-right: 54px;
    }

    .header-section .brand-logo img {
        width: 150px;
        height: 75px;
    }

    .header-section .navbar ul {
        margin-top: 36px;
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        height: 100vh;
        top: 28px;
        padding: 0 20px;
    }

    .header-section .navbar ul li a {
        text-align: left;
        margin-left: 0px;
        margin-top: 30px;
        padding: 0;
    }

    .header-section .navbar-nav .nav-link.active,
    .navbar-nav .nav-link.show {
        color: #333366 !important;
    }
}

@media screen and (max-width: 797px) {
    .container {
        max-width: 100%;
    }

    .fixed-btn {
        bottom: 48px;
        right: 36px;
    }
}

@media screen and (max-width:520px) {
    .header-section .brand-logo img {
        width: 80px;
        height: 36px;
    }

    .header-section::before {
        top: 62px;
    }

    .header-section .navbar {
        padding: 14px 0 14px 0 !important;
    }

    .fixed-btn {
        padding: 25px 6px 25px 6px;
        bottom: 16px;
        right: 8px;
    }

    .fixed-btn img {
        width: 20px;
        height: 20px;
    }
}






/* footer section */

.footer-section {
    background-color: #3B3131;
    padding: 36px 0 17px 0;
    position: relative;
}

.footer-section::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-image: url(../../images/footer/footer-bg-design.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    top: 0;
    left: -25%;
    z-index: 0;

}

.footer-section .footer-content {
    z-index: 2;
    position: relative;

}

.footer-section .footer-text {
    text-align: center;
}

.footer-section .footer-text h3 {
    font-family: "Montserrat";
    font-size: 50px;
    font-weight: 400;
    color: #E3DEDE;
    margin-bottom: 27px;
}

.footer-section .footer-text p {
    font-family: "Satoshi";
    font-size: 16px;
    font-weight: 500;
    color: var(--footertext);
    margin-top: 20px;
    margin-bottom: 27px;
}

.footer-section .footer-logo {
    margin: 48px 0;
    display: flex;
    justify-content: center;
}


.footer-section .footer-text h5 {
    font-family: "Satoshi";
    font-size: 20px;
    font-weight: 500;
    color: var(--footertext);
    max-width: 37%;
    width: 100%;
    margin: auto;
    margin-bottom: 46px;
}


.footer-section .footer-text h6 {
    font-family: "Calista";
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    margin: 22px 0 17px 0;
}

.footer-section .social-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 34px;
}

.footer-section .social-icons img {
    margin: 0 10px;
}


/* footer input section */

.footer-section .footer-input-section {
    border: 2px solid #FFFFFF80;
    padding: 17px 20px;
    border-radius: 70px;
    background-color: #68686833;
    margin: auto;
    width: 100%;
    max-width: 1365px;
}

.footer-section .footer-input-section .row {
    margin: 0 !important;
}

.footer-input-section input {
    width: 100%;
    padding: 22px 40px;
    border: 2px solid #FFFFFF80;
    border-radius: 50px;
    background-color: #68686833;
    color: var(--footertext);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
    outline: none;
}

.footer-section ::placeholder {
    color: var(--footertext);
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}




@media screen and (max-width:1105px) {

    .footer-section .footer-btn .btn-2 {
        padding: 15px 5px !important;
    }
}

@media screen and (max-width:992px) {
    .footer-input-section input[type="text"] {
        margin-bottom: 32px;
    }

    .footer-section .footer-text h3 {
        font-size: 35px;
    }

    .footer-section .row>* {
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
}

@media screen and (max-width:1200px) {
    .footer-section .footer-text h5 {
        max-width: 70%;
    }

    .footer-section .btn span {
        font-size: 15px;
    }
}

@media screen and (max-width:520px) {
    .footer-section .footer-text h5 {
        max-width: 85%;
    }

    .footer-section .social-icons {
        margin-bottom: 0px;
    }

    .footer-section {
        padding: 24px 0 10px 0;
    }

    .footer-section .footer-text h3 {
        font-size: 25px;
        margin-bottom: 27px;
    }

    .footer-input-section input {
        font-size: 15px;
        padding: 16px 17px;
    }

    .footer-section ::placeholder {
        font-size: 15px;
    }

    .footer-section .footer-input-section {
        padding: 14px;
        border-radius: 40px;
    }

    .footer-section .footer-text p {
        font-size: 10px;
        width: 70%;
        margin: 23px auto;
    }

    .footer-section .footer-text h5 {
        font-size: 10px;
        margin-bottom: 25px;
    }

    .footer-section .social-icons img {
        width: 30px;
        height: 30px;
        margin: 0 5px;
    }

    .footer-section .footer-text h6 {
        font-size: 10px;
        margin: 12px 0 0px 0;
    }

    .footer-section .footer-logo img {
        width: 142px;
        height: 62px;
    }

    .footer-section .footer-logo {
        margin: 25px 0;
    }
}







/* banner-section */
.banner-section {
    background-image: url(../../images/homepage/allure_signature_image.png);
    background-position: center;
    background-attachment: fixed;
    width: 100%;

    background-repeat: no-repeat;
    background-size: cover;
    display: table;
}

.banner-section .banner-content {
    padding: 192px 0 228px 0;
}

.banner-section h2 {
    font-family: "Calista";
    font-size: 102.25px;
    font-weight: 400;
    text-align: center;
    color: #E3DEDE;
    margin-bottom: 47px;
}

.banner-section h2 span {
    font-family: "Sabon";
    font-size: 103px;
    font-style: italic;
    font-weight: 400;
    text-align: center;
    color: #E3DEDE;

}

.banner-section p {
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 500;
    text-align: center;
    color: #E3DEDE;
    width: 75%;
    margin: auto;
    margin-bottom: 54px;
}







/* homepage */


.homepage-content-section {
    background-color: #F5F1EE;

}

.homepage-content-section .homepage-content {
    justify-content: center;
    display: flex;
    padding: 70px 0;
}


.homepage-content-section .homepage-content .img-part {
    padding-left: 150px;
    max-width: 846px;
    width: 100%;
    display: flex;
    align-items: center;
}

.homepage-content-section .homepage-content .text-card-part {
    width: 100%;
    max-height: 664px;
    padding: 60px 150px;
    background-color: var(--white);
    border-top-left-radius: 384px;
    border-bottom-left-radius: 384px;
    margin-left: -100px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.homepage-content-section .text-card-part .text-card {
    background-color: #F5F1EE;
    max-width: 680px;
    max-height: 580px;
    width: 100%;
    padding: 90px 27px;
    margin: 0 10%;
}

.homepage-content-section .text-card-part .text-card h3 {
    font-family: "Montserrat";
    font-size: 60px;
    font-weight: 400;
    text-align: right;
    color: var(--card-text);
    text-transform: uppercase;
    margin-bottom: 27px;

}

.homepage-content-section .text-card-part .text-card p {
    font-family: "Montserrat";
    font-size: 30px;
    font-weight: 400;
    text-align: right;
    color: var(--card-text);

}

.homepage-content-section .text-card-part .text-card .card-btn {
    display: flex;
    justify-content: end;
}

.homepage-content-section .theme-button {
    display: none;
}


@media screen and (max-width:1801px) {
    .homepage-content-section .text-card-part .text-card h3 {
        font-size: 45px;
        margin-bottom: 18px;
    }

    .homepage-content-section .text-card-part .text-card p {
        font-size: 24px;
    }

    .homepage-content-section .text-card-part .text-card button {
        font-size: 15px;
        padding: 20px 120px;
        margin-top: 12px;
    }

    .homepage-content-section .text-card-part .text-card {
        max-width: 620px;
        max-height: 510px;
        padding: 80px 27px;
    }

}

@media screen and (max-width:1501px) {
    .homepage-content-section .text-card-part .text-card h3 {
        font-size: 32px;
        margin-bottom: 10px;
    }

    .homepage-content-section .text-card-part .text-card p {
        font-size: 16px;
    }

    .homepage-content-section .text-card-part .text-card button {
        font-size: 13px;
        padding: 18px 70px;
        margin-top: 12px;
    }

    .homepage-content-section .text-card-part .text-card {
        max-height: 344px;
        padding: 50px 27px;
    }

    .homepage-content-section .homepage-content .img-part {
        padding-left: 110px;
    }

    .homepage-content-section .homepage-content .img-part.reverse-img-part {
        padding-right: 110px !important;
    }
}

@media screen and (max-width:1225px) {
    .banner-section h2 {
        font-size: 80px;
    }

    .banner-section h2 span {
        font-size: 80px;
    }

    .banner-section p {
        font-size: 30px;
    }

    .homepage-content-section .text-card-part .text-card h3 {
        font-size: 20px;
        margin-bottom: 5px;
    }


    .homepage-content-section .text-card-part .text-card p {
        font-size: 12px;
    }



    .homepage-content-section .homepage-content .text-card-part {
        margin-left: -68px;
    }

    .homepage-content-section .text-card-part .text-card button {
        font-size: 10px;
        padding: 16px 58px;
        margin-top: 10px;
    }

    .homepage-content-section .text-card-part .text-card {
        max-height: 290px;
        width: 100%;
        padding: 70px 27px;
        margin: 0 0%;
    }

    .homepage-content-section .homepage-content .text-card-part {
        padding: 40px 135px;
    }

    .homepage-content-section .homepage-content .img-part {
        padding-left: 120px;
    }
}

@media screen and (max-width:992px) {
    .banner-section h2 {
        font-size: 70px;
    }

    .banner-section h2 span {
        font-size: 70px;
    }

    .banner-section p {
        font-size: 25px;
    }

    .homepage-content-section .text-card-part .text-card button {
        display: none;
    }

    .homepage-content-section .homepage-content .text-card-part {
        margin-left: -45px;
    }

    .homepage-content-section .homepage-content .text-card-part {
        padding: 15px 95px;
    }

    .homepage-content-section .text-card-part .text-card {
        max-height: 290px;
        width: 100%;
        padding: 40px 27px;
        margin: 0 0%;
    }

    .homepage-content-section .homepage-content .img-part {
        padding-left: 80px;
    }

    .homepage-content-section .homepage-content .img-part.reverse-img-part {
        padding-right: 80px !important;
    }

    .homepage-content-section .theme-button {
        display: block;
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }
}


@media screen and (max-width:767px) {
    .banner-section .banner-content {
        padding: 67px 0 140px 0;
    }

    .banner-section h2 {
        font-size: 50px;
    }

    .banner-section h2 span {
        font-size: 50px;
    }

    .banner-section p {
        width: 95%;
    }

    .homepage-content-section .homepage-content .img-part {
        padding-left: 50px;
    }


    .homepage-content-section .homepage-content .img-part.reverse-img-part {
        padding-right: 50px !important;
    }

    .text-card-part .text-card.reverse-text-card {
        padding: 27px 10px !important;
    }

    .homepage-content-section .homepage-content {
        padding: 60px 0;
    }

    .homepage-content-section .text-card-part .text-card {
        padding: 25px 27px;
    }
}

@media screen and (max-width:670px) {}



/* breadcrumb  */
.breadcrumbs-part {
    margin-top: 18px;
}

.breadcrumb-item+.breadcrumb-item::before {
    content: url('../../images/header/breadcrumb-arrow.svg');
}

.breadcrumb .breadcrumb-item a {
    text-decoration: none;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 21.22px;
    text-align: center;
    color: #333366;
}

@media screen and (max-width:520px){
    .breadcrumbs-part {
        margin-top: 5px;
    }
    .breadcrumb .breadcrumb-item a {
        font-size: 12px;
    }
    .breadcrumb-item+.breadcrumb-item::before {
        content: url('../../images/header/breadcrumb-arrow-small.svg');
    }
    .homepage-content-section .text-card-part .text-card p {
        font-size: 9px;
    }

    .homepage-content-section .homepage-content .img-part {
        padding-left: 0px;
    }

    .homepage-content-section .homepage-content .img-part.reverse-img-part {
        padding-right: 0px !important;
    }

    .homepage-content-section .homepage-content .text-card-part {
        margin-left: -35px;
    }

    .homepage-content-section .text-card-part .text-card {
        padding: 12px 27px;
    }
}

@media screen and (max-width:570px) {
    .banner-section h2 {
        font-size: 30px;
        margin-bottom: 36px;
    }

    .banner-section h2 span {
        font-size: 30px;
    }

    .banner-section p {
        width: 100%;
        font-size: 15px;
    }

    .homepage-content-section .text-card-part .text-card p {
        font-size: 7px;
    }

    .homepage-content-section .text-card-part .text-card {
        padding: 10px 10px;
    }

    .homepage-content-section .homepage-content .text-card-part {
        padding: 14px 50px;
        margin-left: -20px;
    }

    .btn-2 {
        padding: 16px 68px;
    }
}

@media screen and (max-width:420px) {
    .homepage-content-section .text-card-part .text-card {
        padding: 4px 4px;
    }

    .banner-section {
        background-position: left;
    }

    .banner-section .banner-content {
        padding: 36px 0 67px 0;
    }

    .text-card-part .text-card.reverse-text-card {
        padding: 4px 4px !important;
    }

    .homepage-content-section .homepage-content {
        padding: 15px 0 22px 0;
    }

    .theme-button button {
        padding: 16px 68px;
    }
}







/*  */

.homepage-content-section .homepage-content .text-card-part.reverse-card {
    border-top-right-radius: 384px;
    border-bottom-right-radius: 384px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-left: 0px;
    z-index: 5;
    margin-right: -60px;
}


.homepage-content-section .homepage-content .text-card-part .btn-2 {
    max-width: 506px;
    width: 100%;
}

.homepage-content-section .homepage-content .img-part.reverse-img-part {
    padding-left: 0px;
    padding-right: 150px;
}

.homepage-content-section .text-card-part .text-card.reverse-text-card {
    max-height: 635px;
    width: 100%;
    padding: 27px 27px;    
}